/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background: radial-gradient(circle at top, #220000 0%, #020204 45%, #000 100%);
  color: #f5f5f5;
}

/* ===== HUD ===== */

.hud-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.88);
  border-bottom: 1px solid rgba(255, 39, 39, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
}

.hud-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hud-emblem svg {
  width: 24px;
  height: 30px;
  fill: #fff;
}

.hud-logo-main {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.hud-logo-sub {
  font-size: 11px;
  color: #b8b8b8;
}

/* ===== Бургер ===== */
.hud-burger {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: 1px solid rgba(255,39,39,0.4);
  background: rgba(20,0,0,0.6);
  cursor: pointer;
  position: relative;
}

.hud-burger span,
.hud-burger::before,
.hud-burger::after {
  content: "";
  width: 18px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 8px;
  border-radius: 999px;
  transition: .25s;
}

.hud-burger::before {
  top: 10px;
}

.hud-burger span {
  top: 16px;
}

.hud-burger::after {
  top: 22px;
}

.hud-burger.active span {
  opacity: 0;
}

.hud-burger.active::before {
  top: 16px;
  transform: rotate(45deg);
}

.hud-burger.active::after {
  top: 16px;
  transform: rotate(-45deg);
}

/* ===== HUD MENU ===== */
.hud-menu {
  position: fixed;
  top: 50px;
  right: 10px;
  width: 220px;
  background: rgba(5,5,7,0.97);
  border: 1px solid rgba(255,39,39,0.6);
  padding: 12px;
  border-radius: 14px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: .25s;
}

.hud-menu.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hud-menu ul {
  list-style: none;
}

.hud-menu li button {
  width: 100%;
  background: rgba(15,15,17,0.95);
  color: white;
  border-radius: 9px;
  padding: 7px 10px;
  border: 1px solid rgba(255,39,39,0.6);
  cursor: pointer;
  text-align: left;
  transition: .15s;
  margin-bottom: 6px;
}

.hud-menu li button:hover {
  background: rgba(40,0,0,0.9);
}

